.domain-card {
    position: fixed;
    bottom: 20px;
    right: 8px;
    width: 100%;
    max-width: 400px;
    background-color: rgba(55, 65, 81, 0.8);
    color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 40;
    transition: transform 0.3s ease;
    box-sizing: border-box; /* Чтобы padding не выходил за пределы ширины */
}

.domain-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.domain-name {
    color: #63B3ED;
    font-family: monospace;
}

.domain-description {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 12px;
}

.domain-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.buy-now-button {
    background-color: #4299E1;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buy-now-button:hover {
    background-color: #3182CE;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.shark-icon {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Адаптация под мобильные устройства */
@media (max-width: 640px) {
    .domain-card {
        left: 0;
        right: 0;
        max-width: none;
        width: 100%;
        margin: 0 !important;
        padding: 16px;
        border-radius: 0;
    }

    .domain-title {
        font-size: 20px;
    }

    .domain-description {
        font-size: 12px;
    }

    .domain-price {
        font-size: 16px;
    }

    .buy-now-button {
        font-size: 14px;
    }

    .shark-icon {
        display: none;
    }

    .close-button {
        top: 12px;
        right: 12px;
    }
}